@model Blog.Models.Comments

@{
    ViewBag.Title = "Создать комментарий";
}

<h1>Создать комментарий</h1>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)

    <div class="form-token">@Html.AntiForgeryToken()</div>

    <div class="form-group">
        <div class="input-control text" data-role="datepicker">
            @Html.LabelFor(model => model.Date)
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { style = "border-color: #9a1616;" } })
        </div>
        @Html.ValidationMessageFor(model => model.Date)
    </div>

    <div class="form-group">
        <div class="input-control textarea">
            @Html.LabelFor(model => model.Comment)
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { style = "resize: none; border-color: #9a1616;" } })
        </div>
        @Html.ValidationMessageFor(model => model.Comment)
    </div>

    <div class="form-group">
        <div class="input-control submit">
            <button type="submit" class="button primary">Создать</button>
            @Html.ActionLink("Назад", "Index", null, new { @class = "button link" })
        </div>
    </div>
}