@using Microsoft.AspNet.Identity;

@model Blog.Models.Comments

@{
    ViewBag.Title = "Редактировать комментарий";
}

<h1>Редактировать комментарий</h1>

@using (Html.BeginForm())
{
    // Редактировать комментарий может только его автор.
    string disabledClass = (Model.User.Id == User.Identity.GetUserId()) ? "" : "disabled";

    @Html.ValidationSummary(true)

    <div class="form-token">@Html.AntiForgeryToken()</div>

    <div class="form-group">
        <div class="input-control text @disabledClass" data-role="datepicker">
            @Html.LabelFor(model => model.Date)
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { style = "border-color: #9a1616;" } })
        </div>
        @Html.ValidationMessageFor(model => model.Date)
    </div>

    <div class="form-group">
        <div class="input-control textarea @disabledClass">
            @Html.LabelFor(model => model.Comment)
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { style = "resize: none; border-color: #9a1616;" } })
        </div>
        @Html.ValidationMessageFor(model => model.Comment)
    </div>

    <div class="form-group">
        <div class="input-control submit @disabledClass">
            @Html.HiddenFor(model => model.Id)

            <button type="submit" class="button primary">Редактировать</button>
            @Html.ActionLink("Назад", "Index", null, new { @class = "button link" })
        </div>
    </div>
}